In [1]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="")
print("data base connected") 
mycursor=mydb.cursor()
mycursor.execute("CREATE DATABASE csm1")
print("data base created ")

data base connected
data base created

In [2]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="",database="csm1")
print("data base connected") 
mycursor=mydb.cursor()
mycursor.execute("CREATE TABLE MGITCSD(NO INT(20),NAME VARCHAR(20))")
print("TABLE created ")

data base connected
TABLE created

In [6]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="",database="csm1")
print("data base connected") 
no=int(input("enter no"))
name=input("enter name")
mycursor=mydb.cursor()
sql="INSERT INTO mgitcsd (NO, NAME) VALUES (%s,%s)"
record=(no,name)
mycursor.execute(sql,record)
print("row created ")
mydb.commit()

data base connected
enter no503
enter nameCCC
row created

In [7]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="",database="csm1")
print("data base connected") 
mycursor=mydb.cursor()
mycursor.execute("SELECT * FROM mgitcsd")
myresult=mycursor.fetchall()
for row in myresult:
    print(row)

data base connected
(501, 'AAA')
(502, 'BBB')
(503, 'CCC')

In [8]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="",database="csm1")
print("data base connected") 
mycursor=mydb.cursor()
mycursor.execute("Update mgitcsd set no = 7000 where name = 'AAA'")
print("row updated")
mydb.commit()

data base connected
row updated